<form action="/expensetrackers/filter" method="GET">
  <label for="category">類別</label>
  <select id="category" name='category'>
    <option value="家居物業" {{#if (isCategorySelected filteredCategory '家居物業' )}} selected{{/if}}>家居物業</option>
    <option value="交通出行" {{#if (isCategorySelected filteredCategory '交通出行' )}} selected{{/if}}>交通出行</option>
    <option value="休閒娛樂" {{#if (isCategorySelected filteredCategory '休閒娛樂' )}} selected{{/if}}>休閒娛樂</option>
    <option value="餐飲食品" {{#if (isCategorySelected filteredCategory '餐飲食品' )}} selected{{/if}}>餐飲食品</option>
    <option value="其他" {{#if (isCategorySelected filteredCategory '其他' )}} selected{{/if}}>其他</option>
  </select>
  <button type="submit">確認</button>
</form>

<p>總金額: <span>{{totalAmount}}</span></p>

<div>
  {{#each record}}
  <div class="d-flex flex-row align-items-center">
    <i class='{{this.iconClassName}}'></i>
    <div>
      <span>{{this.name}}</span>
      <span>{{this.date}}</span>
    </div>
    <span>{{this.amount}}</span>
    <a href="/expensetrackers/{{this._id}}/edit" class="btn">修改</a>
    <form action="/expensetrackers/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
      <button class="btn" type="submit">刪除</button>
    </form>
  </div>
  {{/each}}
</div>

<a href="/expensetrackers/new" class="btn">新增</a>